<div class="form-part contacts">
    <div class="list-container">
        {{#each AllData}}
            {{> data}}
        {{/each}}
    </div>
</div>

<div class="form-part control">
    <button onclick="window.location.href = '/add'">Добавить</button>
</div>