/* Стили для контейнера */
.container {
    width: 80%; /* Ширина контейнера */
    margin: 20px auto; /* Выравнивание по центру */
    padding: 20px; /* Поля вокруг контейнера */
    background-color: #f0f0f0; /* Цвет фона контейнера */
    border: 1px solid #ccc; /* Рамка вокруг контейнера */
    border-radius: 5px; /* Скругление углов */
    box-sizing: border-box; /* Учет внутренних отступов и рамки в общей ширине */
}

/* Стили для формы */
form {
    width: 100%; /* Ширина формы */
    margin-bottom: 20px; /* Отступ снизу */
}
.control {
    margin-top: 10px;
    display: flex; /* Отображение элементов в ряд */
    justify-content: center; /* Выравнивание элементов по центру по горизонтали */
    align-items: center; /* Выравнивание элементов по центру по вертикали */
}
/* Стили для входных полей */
.input {
    width: 100%; /* Ширина полей */
    margin-top: 10px;
    margin-bottom: 10px; /* Отступ снизу */
    padding: 10px; /* Внутренние отступы */
    border: 1px solid #ccc; /* Рамка вокруг полей */
    border-radius: 5px; /* Скругление углов */
    box-sizing: border-box; /* Учет внутренних отступов и рамки в общей ширине */
    font-size: 16px; /* Размер шрифта */
}

/* Стили для кнопок */
button {
    padding: 10px 20px; /* Внутренние отступы */
    margin-right: 10px; /* Отступ справа */
    border: none; /* Удаление границы */
    border-radius: 5px; /* Скругление углов */
    background-color: #007bff; /* Цвет фона */
    color: #fff; /* Цвет текста */
    font-size: 16px; /* Размер шрифта */
    cursor: pointer; /* Изменение курсора при наведении */
}

button:hover {
    background-color: #d70707; /* Изменение цвета фона при наведении */
}

/* Стили для списка контактов */
.list-container {
    max-height: 200px; /* Максимальная высота контейнера списка */
    overflow-y: auto; /* Появление скроллбара при необходимости */
    padding: 10px; /* Внутренние отступы */
    border: 1px solid #ccc; /* Рамка вокруг контейнера */
    border-radius: 5px; /* Скругление углов */
    background-color: #fff; /* Цвет фона */
}

/* Стили для контактов */
.contact {
    padding: 10px; /* Внутренние отступы */
    margin-bottom: 10px; /* Отступ снизу */
    border: 1px solid #ccc; /* Рамка вокруг контакта */
    border-radius: 5px; /* Скругление углов */
    background-color: #f0f0f0; /* Цвет фона */
    cursor: pointer; /* Изменение курсора при наведении */
}

.contact:hover {
    background-color: #e0e0e0; /* Изменение цвета фона при наведении */
}

.controls-wrapper-button {
    display: flex; /* Отображение элементов в ряд */
    justify-content: center; /* Выравнивание элементов по центру по горизонтали */
    align-items: center; /* Выравнивание элементов по центру по вертикали */
}

button:not([disabled]):hover  {
    background-color: #0056b3;
    
}

#error-message {
    margin: 10px;
    color: #d70707;
    text-align: center;
}